@import "tailwindcss";

@theme {
  --font-unbounded: 'Unbounded', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}
